@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

* {
    font-size: 16px;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

body {
    background-color: #ffeaef;
}

a {color: #c0294f; text-decoration: none;}

#logo {width: 210px;}

#title {
    margin-top: 5px;
    color: #423E49;
    font-weight: 700;
    text-align: center;
    font-size: 21px;
}

.navbar {
    width: 210px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #7bd2db;
    padding: 20px;
    box-shadow: 2px -20px 10px #a7828b;
}

li.navbuttons {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    transition: ease-in-out background-color 0.2s;
}

li.navbuttons:hover {background-color: #ffd9e2;}

li.navbuttons.selected {background-color: #ffd9e2;}

li.navbuttons::before {content: "◯ ";}

.contact {
    position: fixed;
    bottom: 0px;
}

.title > a > h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 0px;
    
}

.description {
    margin-left: 240px;
    padding: 40px;
}

#lgbtq {
    display: flex;
    text-align: justify;
}

#lgbtq > img {
    float: right;
    max-height: 300px;
    margin-left: 10px;
}

.identities {
    display: flex;
}

.expression {
    text-align: justify;
    width: 50%;
}

.expression > img {
    max-height: 150px;
}

.icons {    
    display: flex;
    float: right;
    width: 60%;
    margin-left: 65px;
    text-align: justify;
}

.icons > img{
    float: right;
    height: 250px;
    width: 250px;
    margin-left: 10px;
}

.idols {
    width: 50%;
}

/* #lesbian:hover {
    background-image: linear-gradient(90deg, #d42c00, #fd9855, #fff, #d161a2, #a20161);
} */
