@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

* {
    font-size: 16px;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 1.5em;
    object-fit: cover;
}

body {
    background-color: #ffeaef;
}

::-webkit-scrollbar {
    width: 22px;
    height: 20px;
    background-color: #ffeaef;
}

::-webkit-scrollbar-track {
    background: transparent;
    display: none;
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    border: solid 9px transparent;
    box-shadow: inset 0 0 20px 20px #7bd2db;
    background-color: transparent;
    border-radius: 100px;
}

a {color: #c0294f; text-decoration: none;}

#logo {width: 210px;}

#title {
    margin-top: 5px;
    color: #423E49;
    font-weight: 700;
    text-align: center;
    font-size: 21px;
}

.navbar {
    width: 210px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #7bd2db;
    padding: 20px;
    box-shadow: 2px -20px 10px #a7828b;
}

li.navbuttons {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    transition: ease-in-out background-color 0.2s;
}

li.navbuttons:hover {background-color: #ffd9e2;}

li.navbuttons.selected {background-color: #ffd9e2;}

li.navbuttons::before {content: "◯ ";}

.contact {
    position: fixed;
    bottom: 0px;
}

.title > a > h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 0px;
    
}

.description {
    margin-left: 240px;
    padding: 40px;
}

#lgbtq {
    display: flex;
    text-align: justify;
}

#lgbtq > img {
    float: right;
    height: 320px;
    margin-left: 10px;
    width: 400px;
}

.p1div {
    display: flex;
}

.identities {
    text-align: justify;
    width: 50%;
    margin-right: 20px;
}

.identities > p {
    display: inline-block;
}

.identities > img {
    max-height: 150px;
}

.icondiv {    
    display: flex;
    float: right;
    width: 60%;
    text-align: justify;
    margin-right: 20px;
}

.icondiv > img {
    width: 220px;
    margin-left: 20px;
    object-fit: covers;
    display: inline-block;
}

.icon {
    width: 50%;
}

.indexdiv {
    display: flex;
}

.indexdiv > span {
    width: 100%;
    text-align: justify;
    margin-right: 10px;
}

.indexdiv > img {
    height: 350px;
    width: 450px;
    margin-bottom: 5px;
}

h1 {
    font-size: 24px;
    margin-top: 34px;
}

.p2div {
    margin-top: 10px;
    display: flex;
}

.p2div > img {
    width: 50%;
    margin-right: 10px;
}

.indexdiv2 {
    display: flex;
}

.indexdiv2 div {
    width: 60%;
}

.indexdiv2 img {
    width: 40%;
    height: 230px;
    margin-right: 10px;
}

.indexdiv3 {
    display: flex;
}

.indexdiv3 div {
    width: 70%;
}

.indexdiv3 img {
    width: 30%;
    height: 370px;
    margin-left: 10px;
}

.description p {
    text-align: justify;
}
